.navbar-item img {
    border-radius: 5px;
    max-height: 2.5rem;
}

.dashboard-message {
    vertical-align: middle
}

.modal-button-group {
    margin-left: auto;
    margin-right: auto;
}

.calendar {
    min-width: 20rem;
}
