{erl_opts, [debug_info]}.
{deps, [
        {cowboy, "1.1.2"},
        {jiffy, "0.14.11"},
        {jwt, "0.1.3"}
       ]}.

{relx, [{release, {holiday_ping, "0.1.0"},
         [holiday_ping]},
         {dev_mode, true},
         {include_erts, false},
         {extended_start_script, false}
         ]}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                           {include_erts, true},
                           {extended_start_script, true}]}]}]}.
