[
 {holiday_ping, [
                 {port, 8001},
                 {token_secret, <<"secret">>},
                 {token_expiration, 86400},
                 {verification_code_expiration, 300},
                 {checker_interval, 86400000},
                 {monthly_limits, #{slack => 100,
                                    email => 100,
                                    webhook => 100}},
                 {pg_options, [{size, 10},
                               {database, "holiday_ping"},
                               {username, "postgres"},
                               {password, "example"}]}
                ]},

 {lager, [
          {handlers, [
                      {lager_console_backend, [{level, debug}]},
                      {lager_file_backend, [{file, "log/error.log"}, {level, error}]},
                      {lager_file_backend, [{file, "log/console.log"}, {level, info}]}]}
         ]}

].
