[
 {holiday_ping, [
                 {protocol, https},
                 {port, 443},
                 {certfile, "FIXME!!!"},
                 {keyfile, "FIXME!!!"},
                 {token_secret, <<"FIXME!!!">>},
                 {token_expiration, 86400},
                 {verification_code_expiration, 300},
                 {password_code_expiration, 300},
                 {checker_interval, 900000},
                 {email_enabled, true},
                 {monthly_limits, #{slack => 100,
                                    email => 100,
                                    webhook => 100}},
                 {pg_options, [{size, 10},
                               {database, "holiday_ping"},
                               {username, "FIXME!!!"},
                               {password, "FIXME!!!"}]}
                ]},
 {throttle, [{rates, [{global_api_rate, 5, per_second},
                      %% these rates have to also consider failed requests (e.g. 4xx responses)
                      {register_rate, 5, per_hour},
                      {password_reset_rate, 10, per_hour},
                      {resend_confirmation_rate, 10, per_hour},
                      {test_channel_rate, 20, per_hour}]}]},
 {lager, [
          {handlers, [
                      {lager_console_backend, [{level, info}]},
                      {lager_file_backend, [{file, "log/error.log"}, {level, error}]},
                      {lager_file_backend, [{file, "log/console.log"}, {level, info}]}]}
         ]}

].
